body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 6px 4px;
}

table				{ border: solid 1px #000000; border-collapse:collapse; }
table.width100	{ width: 100%; }
table.width90		{ width: 90%; }
table.width75		{ width: 75%; }
table.width60		{ width: 60%; }
table.width50		{ width: 50%; }

th 			{ 
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10pt;   
				border: solid 1px #000000;
			}

td 			{ 
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10pt; 
				padding: 4px; 
				text-align: left; 
				border: solid 1px #000000;
			}
td.category	{ background-color: #c8c8e8; font-weight: bold; vertical-align : top; }
td.cat_obso	{ background-color: #c8c8e8; font-weight: bold; vertical-align : top; font-style: italic; color: red }
td.obsolete	{ font-style: italic; color: red}


tr			{}
tr.spacer	{ background-color: #ffffff; color: #000000; height: 5px; }
